@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: "Space Mono", 'Roboto', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

a {
  color: #6a459f;
}

.hidden {
  display: none !important;
}

.hidden-mobile {
  @media screen and (max-width: 40rem) {
    display: none;
  }
}